.chatList{
    .search{
        display: flex;
        align-items: center;
        gap: 1.25rem;
        padding: 1.25rem;
        .searchBar{
            padding: 1rem;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            flex: 1;
            gap: 1.25rem;
            background-color: #495057;
            input{
                color: white;
                background-color: transparent;
                border: none;
                outline: none;
                flex: 1;
            }
            svg{
                width: 1.25rem;
                height: 1.25rem;
            }
        }
        .add{
            cursor: pointer;
            width: 1.25rem;
            height: 1.25rem;
            background-color: #495057;
            padding: 1rem;
            border-radius: 0.5rem;
        }
    }
}