.addUser{
    width: max-content;
    height: max-content;
    padding: 30px;
    background-color: rgba(17,25,40,0.5);
    border-radius: 10px;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
        .search-user{
            display: flex;
            gap: 20px;
            input{
                padding: 20px;
                border-radius: 10px;
                border: none;
                outline: none;
                }
        }
        .user-list{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .user{
                div{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                display: flex;
                justify-content: space-between;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 20px;
                padding-bottom: 1rem;
                border-bottom: 1px solid #6495ED;
                margin-bottom: 1rem;
            }
            button{
                padding: 10px;
                border-radius: 10px;
                background-color: #6495ED;
                color: white;
                border: none;
                cursor: pointer;

            }
        }

    }